# 文本文件按内容规范化；Windows 脚本必须 CRLF，否则 cmd.exe 会解析错误
*.bat text eol=crlf
*.cmd text eol=crlf
*.sh  text eol=lf
# Preserve upstream asset hashes and the original license bytes on Windows too.
ypuddin/models/sdxl/assets/** -text
ypuddin/models/sdxl/LICENSE-SDXL.txt -text -whitespace
ypuddin/_archive_revision.txt export-subst
